.faq-page{
  max-width: 85%;
  margin: 0px auto;
}

.faq-menu-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px 0px;
}

.faq-menu-container{
  background: #fff;
  margin: 10px 10px 10px 30px;
  h6{
    background: #43C59E;
    border-radius: 7px 7px 0px 0px;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
  }
}

.faq-menu{

}

.faq-menu-item{
  cursor: pointer;
  padding-bottom: 5px;
  border-bottom: 2px solid #43C59E;
  margin: 25px;
  width: fit-content;
  transition: all .7s;
  &:hover{
    border-bottom: 2px solid #43E59E;
  }
}

.faq-section{
  background: #fff;
  h3{
    background: #43C59E;
    color:#fff;
    font-size: 24px;
    padding: 15px;
    border-radius: 7px 7px 0px 0px;
  }
  li{
    list-style-type: square;
  }
}


.faq-content-container{
  padding: 20px;
}


.faq-content{
  padding: 20px;
}

.faq-question{
  border-bottom: 2px solid #43C59E;
  width: fit-content;
  margin-bottom: 15px;
}

.faq-answer{
  line-height:1.7;
}
