.footer {
  display: flex;
  position: relative;
  background: #43C59E;
  color:#fff;
  padding: 20px;
}

.footer-email-link{
  color:#fff;
  border-bottom: 2px solid #fff;
  text-decoration: none;
}

.footer-content-container{
  padding: 10px;
  >*{
    margin: 5px;
  }
}

.footer-empty-space{
  width: 50%;
  height: 100%;
}
